/* .form-control{
   width: 30px;
 
} */
.text-Role{
text-align: left;
margin-right: 180px;
font-size: 16px;
}
form-group{
margin-right: 100px;
}
.form{
margin-right: 440px;
float: left;
}
.text-2{
    margin-left: 20px;
}