@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap');


.body {
    margin: 0; 
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }



   .row-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .second-row{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E9F2F7;
  }
  .btn {
    margin-right: 10px;
  
  }
  
  .font {
    border-right: none;
    border-left: none;
  
  }
  
  .my-custom-dashboard {
    width: 1000px;
    
  
    border-radius: 10px;
    border: solid 1px #3D3D3D4D;
    font-family: Mitr;
    font-family: 10px;
  }
  
  .size-1 {
    width: 300px;
  }
  
  .table-light {
    background-color: #E9F2F7;
    border-right: none;
   
  }
  
  .logo-3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .bi-pencil-square {
    background-color: #0E83D9;
    color: #E9F2F7;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    padding: 5px 5px;
  }
  
  .bi-gear {
    background-color: #979799;
    color: #E9F2F7;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    padding: 5px 5px;
  }
  

  .header-row {
   
  width: 998px;
  
  }
  
  .mmm {
    margin-top: 30px;
    /* margin-left: 10px; */
    border: none;
  
  }
 
  
  .table-one {
    text-align: center;
  
    border-bottom: solid 2px rgb(170, 168, 168);
    margin-bottom: 300px;
  }
  
  
  .row-buttons {
    margin-top: 20px;
  }
  
  
  .btn {
    margin-right: 10px;
  }
  
  
  .col-md-4,
  
  .col-md-2 {
    border: 1px solid #ddd;
    padding: 10px;
  
  }
  
  
  .table {
    color: #3D3D3D4D;
    border-collapse: collapse;
  
  }
  
  .table-1 {
    border-bottom: solid 2px #ddd;
    padding: 10px;
    text-align: center;
    color: #3D3D3D4D;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #3D3D3D4D;
  }
  
  
  .gcolor {
    background-color: #0672A3;
    color: white;
    text-align: center;
    width: 180px;
    height: 40px;
  
    font-size: 12px;
    border-radius: 8px;
    border: 1px;
  
  }
  .import-button {
    background-color: #0672A3;
    color: white;
    text-align: center;
    width: 160px;
    height: 40px;
    
     font-size: 1px;
    border-radius: 8px;
    border: 1px;
    font-size: 12px;
  }
  .bcolor {
    background-color: #0672A3;
    width: 200px;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    border: 1px;
  
  }
  .bcolor:hover {
    background-color: none; 
  }
  
  .btcolor {
    background-color: #3D3D3D33;
    width: 60px;
    height: 40px;
    left: 0;
    font-size: 12px;
    border-radius: 8px;
    border: 1px;
    color: #0672A3;
  
  }
  
  .btcolor-1 {
    background-color: #3D3D3D33;
    width: 150px;
    height: 40px;
    top: 278px;
    left: 938px;
    border-radius: 8px;
    border: 1px;
    color: #0672A3;
    font-size: 12px;
  }
  
  .add-button {
    color: white;
    width: 90px;
    height: 40px;
    font-size: 12px;
    border-radius: 8px;
    border: 1px;
    background-color: #0672A3;
    transition: background-color 0.3s ease;
   
  }

  
  .font {
    font-size: 10px;
    font-family: Mitr;
  
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  
  }
  
  .heade {
    margin-top: 200px;
  }
  
  .space {
    margin-bottom: 30px;
  
    top: 160px;
    left: 538px;
    border: 1px;
  
  }
  
  .clt {
    color: #0BA649;
  }
  
  .input-group-text {
    background-color: rgb(212, 48, 48);
    height: 36px;
  }
  .form-control{
    height: 36px;
  }
  
  .bi-search {
    background-color: white;
    color: black;
  }
  
  .logo-5 {
    background-color: #0E83D9;
    border-radius: 8px;
    border: none;
    width: 44px;
    height: 24px;
    margin-top: 5px;
  }
  .border{
    border: 2px ;
    margin-bottom: 20px;
  }
  .header-two{
    margin-left: 40px;
  }
  
  
  .dealer-one {
    margin-left: 50px;
    font-family: Mitr;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
  
  }
  
  .col-md-3 {
    font-family: Mitr;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
  
  }
  .gap{
    width: 940px;
    margin-left: 30px;
    margin-right: 28px
  }
  .search-inputt{
    width: 250px;
    margin-left: 30px;
  }
  .dealer-one{
  margin-left: 30px;
  }
  .logo-1{
    width: 10px;
  }
  .input-group-text{

   height: 5px;
  }
  .td{
    font-size: 10px;
  }
  .form-check .form-check-input{
   justify-content: center;
   align-items: center;
  }
  
.table {
  width: 600px;
  overflow-x: auto;
  display: block;
}


th, td {
  width: 600px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:hover {
  background-color: none; 
  
}

button:hover {
  background-color: none;
  color: inherit;
}


.role-text{
  text-align: center;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 16px;
  }
  .active-link {
  
    border-bottom: 2px solid blue; /* Adjust the style as needed */
  
  }
  .emply-text{
    margin-left: 50px;
    font-size: 16px;
  }
  .hierarchy{
    margin-left: 30px;
    font-size: 16px;
  }
  .modal{
    margin-top: 140px;
    margin-left: 100px;
}
body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-mitr: Mitr;

  /* font sizes */
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue: #0672a3;
  --color-darkslategray-100: rgba(61, 61, 61, 0.3);
  --color-darkslategray-200: rgba(61, 61, 61, 0.6);

  /* Border radiuses */
  --br-7xs: 6px;
  --br-xs: 12px;
}
